<div *ngIf="client">
    <h2>{{ client.Name | uppercase }}</h2>
    
    
    <div>
        <label>Name:
            <input [(ngModel)]="client.Name" placeholder="Name">
        </label>
    </div>
    
    <div>
        <label>Description: 
            <input [(ngModel)]="client.Properties.Description">
        </label>
    </div>   
    
    <div>
        <label>Enable: 
            <input [(ngModel)]="client.Properties.IsEnabled" type="checkbox">
        </label>
    </div>    
    
    <div>
        <label>Run Continuously: 
            <input [(ngModel)]="client.Schedule.IsRunContinuously" type="checkbox">
        </label>
    </div>
    
    <div>
        <label>Run Every: 
            <input [(ngModel)]="client.Schedule.RunEverySeconds">
            (seconds)
        </label>
    </div>

    <div>
        <label>Plugin:            
            <select [(ngModel)]="client.Plugin" [compareWith]="byFullClassName">
                <option *ngFor="let plugin of plugins" [ngValue]="plugin">{{plugin.FullClassName}}</option>     
                </select>
        </label>
    </div>
    
    <button class="save"
    (click)="save()">Save</button>
</div>