<h2>Clients</h2>

<!-- <div>
    <label>Client name:
        <input #clientName />
    </label>
     <button (click)="add(clientName.value); clientName.value=''">
        add
    </button>
</div> -->

<ul>
    <li *ngFor="let client of clients">
        <a routerLink="/detail/{{client.Name}}">{{client.Name}}</a>
        {{client.Plugin.Name}}
        <input type="checkbox" [(ngModel)]="client.Properties.IsEnabled" (ngModelChange)="update(client)">
        {{client.Runtime.LastRun}}
        {{client.Runtime.LastLifeSign}}
        {{client.Runtime.NextRun}}
        <button (click)="delete(client)">Delete</button>
    </li>
</ul>
